@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "./components/variables";
@import "./components/reboot";
@import "./components/responsiveness";
@import "./components/dark-mode";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  min-height: 100vh;
  background-color: $white-grey;
  .wallpaper {
    #darkSwitch {
      cursor: pointer;
    }
    .profile-pic {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 50%;
    }
    .image {
      height: 10vh;
    }
    .bottom {
      .stats {
        background: $white-grey;
      }
    }
  }
}
