@import "./variables";

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}

[data-theme="dark"] {
  color: white;
}

[data-theme="dark"] .container-fluid {
  background-color: $blue-black-light !important;
  color: #eee;
}

[data-theme="dark"] .content,
.input-bar {
  background-color: #fff !important;
}

[data-theme="dark"] .stats {
  background-color: $blue-black-light !important;
}

[data-theme="dark"] img,
svg {
  color: black !important;
}
