@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "../components/variables";

body {
  line-height: 1.563rem;
  background-color: $white-grey;
  font-family: "Space Mono" !important;
}

input {
  border: none !important;
  height: 100% !important;
  outline: none !important;
}

input:focus {
  outline: none;
}

h1 {
  font: {
    weight: bold !important;
    size: 1.625rem !important;
  }
  color: black;
  line-height: 2.375rem !important;
}

h2 {
  font: {
    weight: bold;
    size: 1.375rem;
  }
  line-height: 2.063rem;
}

h3 {
  font-size: 0.813rem !important;
  font-weight: 600 !important;
  line-height: 1.25rem !important;
  letter-spacing: 0.1rem;
  color: $blue-grey !important;
  margin: 0 !important;
}

h4 {
  font-size: 0.813rem !important;
  font-weight: bold !important;
  line-height: 1.25rem !important;
  text-transform: uppercase !important;
  color: $blue-grey !important;
  margin: 0 !important;
}

h5 {
  color: $blue-grey;
  font-size: 0.75rem;
}

button {
  color: white;
  background: $blue-dark;
}

span {
  color: $blue-dark;
}

p {
  color: $blue-grey;
}
