/* Light Mode */
$blue-light: #0079ff;
$blue-grey: #697c9a;
$dark-blue-light: #4b6a9b;
$blue-black-light: #2b3442;
$white-grey: #f6f8ff;
$white-light: #fefefe;

/* Dark Mode */
$blue-dark: #0079ff;
$white-dark: #fff;
$blue-black-dark: #f6f8ff;
$dark-blue-dark: #1e2a47;